html,
body {
  height: auto;
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  color: #363b53;
  background-color: #f4f5ff;
}

/* Home */

#music-header-wrap {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}

#fields-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.field-wrap {
  width: 180px;
}

#mailing-list-wrap {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#mailing-list-form {
  display: flex;
  gap: 60px;
  width: 80vw;
  text-align: left;
}

#store-heading-text {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#quotes-wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  text-align: center;
  margin-top: 20px; /* Aggiunto spazio sopra i blocchi di citazioni */
}

/* Rimuovi la regola #quotes-wrap:nth-child(even) { text-align: left; } */

#teaching-skills-wrap {
  width: 75vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-top: 20px; /* Aggiunto spazio sopra le skills */
}

/* Store */

#store-heading-text {
  align-items: center;
  justify-content: center;
}
